@media(min-width: 240px) and (max-width: 319px){
	.about-images .span6, .about-images {
		text-align: center !important;
	}
	#arrow-left{
		height: 11px;
		width: 11px;
	}
	#arrow-right{
		height: 11px;
		width: 11px;
	}
	#arrow-left-slider{
		height: 11px;
		width: 11px;
	}
	#arrow-right-slider{
		height: 11px;
		width: 11px;
	}
	#content-videos{
		height: 250px;
	}
	#connect-form{
		height: 170px;
	}
	#email{
		font-size: 5px;
	}
	#footer{
		font-size: 9px;
	}
	#form-footer{
		font-size: 6px;
		top: 5px;
	}
	#form-information{
		font-size: 10px;
		line-height: 10px;
	}
	#form-logos img{
		height: 25px;
		width: 25px;
	}
	.form .form-input{
		width: 90%;
	}
	#header-logo{
		height: 95px;
		margin-left: 10px;
		width: 80px;
	}
	#image-video img{
		height: 107px !important;
		width: 183px !important;
	}
	#image-video p {
		font-size: 10px;
		margin-left: 5px;
	}
	#images-videos .span4{
		margin-top: 10px;
		text-align: center;
	}
	#img-lady{
		text-align: center;
	}
	#img-lady img{
		height: 180px;
	}
	#index-images{
		text-align: center !important;
	}
	
	.footer-separator{
		display: none;
	}
	#form-information{
		margin-left: 2%;
		width: 78%;
		float: left;
	}
	#form-logo-twitter{
		width: 20%;
		float: left;
	}
	#form-logo-twitter img{
		width: 25px;
		height: 25px;
	}
	#join-label #form-join{
		font-size: 12pt;
		margin-left: 10px;
	}
	#join-input .form-input-small {
		max-width: 160px;
		height: 30px !important;
	}
	#join-input .form-input {
		font-size: 10pt !important;
	}
	#join-input{
		text-align: center;
	}
	#join-button  #button-go{
		width: 30px;
		height: 43px;
		margin-right: 10px !important;
		margin-top: 3px !important;
	}
	#join-button{
		text-align: right;
	}
	
	
	#menu-phone{
		margin-top: -13px;
		margin-right: 5px;
	}
	
	#title-videos  #title-testimonials {
		height: 23px;	
	}
	#testimonials-info{
		height: 230px;
	}
	#testimonials-info1{
		height: 360px;
	}
	#testimonials-info2{
		height: 320px;
	}
	#testimonials-info3{
		height: 555px;
	}
	#testimonials-info4{
		height: 306px;
	}
	#testimonials-info5{
		height: 356px;
	}
	#testimonials-right, .testimonials-info{
		font-size: 10px;
	}
	#td-join{
		width: 100%; 
	}
	#td-input{
		width: 100%; 
	}
	#td-button{
		width: 100%; 
	}
	#title-videos p, #title-testimonials p , .title p{
		left: 5px;
		top: 2px;
		font-size: 20.36pt;
	}
	#videos-subtitle, #publicity-title , .subtitle {
		font-size: 12px;
		height: 55px;
		margin-left: 5px;
	}
	#welcome-footer{
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}
	.container-center{
		width: 100%;
	}
	.column{
		width: 50%;
	}
	.column2{
		width: 100%;
	}
	.form{
		margin-top: 60px;
	}
	.form img{
		top: 10px;
		width: 56px;
		height: 56px;
	}
	.header{
		height: 61px;
	}
	.header .container-center p {
		font-size: 12px;
		right: 5px;
	}	
	.header-index{
		-moz-background-size:100% 85px; /* Firefox 3.6 */
		background-size:100% 85px;
		background-repeat:no-repeat;
		height: 85px;
	}
	.header-videos , .header-testimonials , .header-coaching, .header-press, .header-training, .header-about, .header-shop{
		-moz-background-size:100% 44px; /* Firefox 3.6 */
		background-size:100% 44px;
		background-repeat:no-repeat;
		height: 44px;
	}
	.info-subtitle{
		font-size: 14px;
	}
	.info{
		font-size: 12px;
	}
	.li img{
		height: 15px;
		width: 15px;
	}
	.mini{
		font-size: 8px;
	}
	.testimonials-font{
		font-size: 11px;
	}
	.title p {
		margin-top: 19px;
	}
	.title {
		height: 3px;
	}
	.shop-left{
		width: 100%; 
	}
	.shop-right{
		width: 100%; 
	}
	.shop-info-cost{
		font-size: 18pt;
		line-height: 20px;
	}
	.shop-info-title{
		font-size: 11pt;
		line-height: 20px;
	}
	.shop-info-text{
	    line-height: 15px;
		font-size: 8.96pt;
	}
	.slide img{
		width: 46px;
		height: 27px;
	}
	#frame-video{
		width: 100%;
		height: 105px;
	}
	#title-index p, .subtitle{
		font-size: 15.36pt;
	}
	.info, .item-footer{
		font-size: 8.96pt;
	}
	.mini{
		font-size: 9.2pt;
	}
	#footer-copy-right p{
		font-size: 7.68pt;
	}
	
	.header-index #banner-lady {
		width: 100px;
		height: 85px;
		margin-left: 72px;
		margin-top: -24px;
	}
	.header-index  #banner-points{
		width: 31.5px;
		height: 10px;
	}
	#banner-title{
		top: 8.5%;
		left: 51%;
		line-height: 1px;
	}
	.banner-bold, .banner-regular{
		font-size: 6.4pt;
		
	}
	
	/*the last changes*/
	#index-info-1 {
		height: 90px;
	}
	#index-info2 {
		height: 195px;
	}
	#member-login{
		font-size: 8pt;
	}
	#index-images{
		height: 180px;
	}
	#index-images .span6 {
		text-align: center !important;
	}
	#index-images img{
		max-width: 183px;
		max-height: 100px;
		width: 183px;
		height: 100px;
	}
	#form-information {
		width: 50%;
	}
	#form-information-twitter {
		width: 46%;
	}
	#form-information-twitter img {
		width: 35px;
		height: 30px;
	}
	#join {
		height: 270px !important;
	}
	#join-label{
		width: 100%;
	}
	#join-input{
		width: 36%;
		margin-top: 5px;
	}
	#join-button{
		width: 12%;
		float: none;
	}
	a.prev, a.next {
		width: 20px;
		height: 20px;
		top: 140px;
	}
	.caroufredsel_wrapper {
		width: 105px !important;
		height: 130px !important;
		max-width: 105px !important;
		max-height: 130px !important;
		text-align: center !important;
	}
	.image_carousel {
		margin-left: 0px;
	}
	.image_carousel .container {
		width: 102px;
		height: 100px;
		max-width: 102px !important;
		max-height: 100px !important;
	}
	.image_carousel .container img {
		height: 100px;
	}
	.item-center {
		margin-left: 7px;
	}
	#footer .container-center p {
		top: -5px;
		margin-left: 0px;
	}
	
	/*start about*/
	#about-info-right {
		margin-left: 0px;
	}
	#about-lady {
		width:100%;
		text-align: center;
	}
	#container-calendar {
		width: 185px;
	}
	#container-calendar {
		margin-top: 10px;
	}
	#calendar-info-click {
		font-size: 5pt;
	}
	#calendar-info {
		font-size: 6pt;
	}
	#about-info1 {
		height: 205px;
	}
	#about-calendar {
		height: 140px;
	}
	#about-calendar .span5 {
		margin-top: -10px;
	}
	#about-images {
		height: 255px;
	}
	#about-images img{
		width: 183px;
		height: 100px;
		max-width: 183px;
		height: 100px;
	}
	.header-main p {
		font-size: 17pt;
		top: 14px;
		margin-top: 0px;
		position: relative;
	}
	.header-main {
		-moz-background-size: 100% 80px;
		background-size: 100% 80px;
		height: 80px;
	}
	#about-title , #training-title, #coaching-title, #press-title, #videos-title,#testimonials-title, #shop-title, #blog-title, #contact-title{
		height: 45px;
	}
	.italic-sans {
		font-size: 10pt;
	}
	#about-info-subtitle {
		font-size: 10pt;
	}
	/*start ttraining */
	#training-info {
		margin-left: 0px;
	}
	#training-past{
		height: 215px;
	}
	#training-past .info {
		left: 0px;
	}
	#training-info1 {
		height: 540px;
	}
	#training-photos {
		height: 530px;
	}
	#training-image-lady {
		width: 100%;
	}
	#training-info2 {
		height: 515px;
	}
	#training-info3 {
		height: 375px;
	}
	#training-want {
		height: 130px;
	}
	#traininig-image img {
		width: 185px;
	}
	#form-training .form-input-small{
		width: 160px !important;
	}
	#form-training-message .form-input-large {
		width: 160px !important;
	}
	#form-training #form-trainint-name{
		margin-top: 20px;
		margin-left: 0px
	}
	#form-training #form-training-address{
		margin-left: -10px
	}
	#form-training #form-training-phone {
		margin-left: 0px;
	}
	#form-training, #form-training-message #form-training-message-input{
		margin-left: 5px;
	}
		/*start coaching*/
	#img-lady{
		width: 100%;
	}
	#coaching-info {
		margin-left: 0px;
	}
	.form-coaching .form-input-small {
		width: 160px !important;
	}
	#form-coaching-name{
		margin-left: 0px !important;
	}
	#form-coaching-address{
		margin-left: 0px;
	}
	#form-coaching-phone{
		margin-left: 0px !important;
	}
	#form-coaching-submit {
		margin-left: 25px;
	}
	.form-coaching img {
		margin-left: -12px;
	}
	.form-coaching{
		height:340px;
		text-align: center;
	}
	#coaching-information {
		height: 110px;
	}
	#squared-promo-left{
		width: 100%;
		text-align: center !important;
	}
	#squared-promo-right{
		width: 100%;
		text-align: center !important;
		margin-left: 0%
	}
	#squared-promo-center{
		width: 100%;
		text-align: center !important;
	}
	.info-subtitle-coaching {
		font-size: 13.5pt;
	}
	
		/*start testimonials*/
	.testimonials-left{
		width: 100%;
	}
	.testimonials-right {
		margin-left: 0px!important;
	}
	#testimonials-info1 {
		height: 400px;
	}
	#testimonials-info2 {
		height: 500px;
	}
	#testimonials-info3{
		height:520px;
	}
	#testimonials-info4 {
		height: 700px;
	}
	#testimonials-info5 {
		height: 440px;
	}
	#testimonials-info6 {
		height: 450px;
	}
	.testimonials-subtitle{
		height: 90px;
	}
	
	/*start press*/
	.press-container-image{
		text-align: center;
		width: 97%;
	}
	
	/*start video */
	#carousel-video a.prev,#carousel-video a.next {
		top: 250px;
	}
	.header-main p {
		margin-right: 25px;
	}
	
}